a,
#nav a:hover,
#nav a.active,
.la-ball-clip-rotate,
.main-color {color: rgb(106, 168, 79);}
.main-bg-color {background-color: rgb(106, 168, 79);}
.main-border-color {border-color: rgb(106, 168, 79);}
